node_modules
.next
*.tsbuildinfo
next-env.d.ts
lib/generated/prisma
.git
*.md
docs
data
backups
nginx
docker-compose*.yml
.env*
!.env.example
.superpowers
.tmp-pgtest
public/uploads/*
!public/uploads/.gitkeep
.deploy-state
